<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Position Control</title>
</head>
<body>
    <h1>Position Control</h1>
    <p>Current status: {{ status }}</p>
    <form action="/switch_on" method="get">
        <button type="submit">Switch ON</button>
    </form>
    <form action="/switch_off" method="get">
        <button type="submit">Switch OFF</button>
    </form>


    <div id="graph"></div>
    <script>
        var graphJSON = {{ graph_json|safe }};
        Plotly.newPlot('graph', graphJSON.data, graphJSON.layout);
    </script>

    
</body>
</html>
